<h2>Pilots index</h2>

<table class="pilots">
  <tr class="pilot">asdf</tr>
  {{#each model as |pilot|}}
    <tr class="pilot">
      {{link-to pilot.fullName 'pilots.show' pilot}}
    </tr>
  {{/each}}
</table>

<hr>
{{link-to 'Add a new Pilot' 'pilots.new'}}
