<form {{action "save" on="submit"}}>
  <h2>{{errorMessage}}</h2>
  <p>
    <label>Brand:
      {{input value=model.brand}}
    </label>
  </p>
  <p>
    <label>Model:
      {{input value=model.model}}
    </label>
  </p>
  <p>
    <label>Registration:
      {{input value=model.registration}}
    </label>
  </p>
  <input type="submit" value="Save">
  <button {{action "cancel"}}>Cancel</button>
</form>
