<h2>Gliders index</h2>

<table class="gliders">
  <tr class="glider">asdf</tr>
  {{#each model as |glider|}}
    <tr class="glider">
      {{link-to glider.prettyName 'gliders.show' glider}}
    </tr>
  {{/each}}
</table>

<hr>
{{link-to 'Add a new Glider' 'gliders.new'}}
