<ul>
  <li>Brand: {{model.brand}}</li>
  <li>Model: {{model.model}}</li>
  <li>Registration: {{model.registration}}</li>
</ul>

{{link-to 'Edit this glider' 'gliders.edit' model}}
{{link-to 'Back to Gliders' 'gliders'}}
