<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">envuelos.NEXT</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-8">
      <ul class="nav navbar-nav">
          {{!-- TODO: Fix awful nested Li with http://discuss.emberjs.com/t/bootstrap-active-links-and-lis/5018 --}}
        {{#link-to 'dashboard' tagName='li' href=false}}
          {{#link-to 'dashboard' bubbles=false}}
            Dashboard
          {{/link-to}}
        {{/link-to}}
        {{#link-to 'pilots' tagName='li' href=false}}
          {{#link-to 'pilots' bubbles=false}}
            Pilots
          {{/link-to}}
        {{/link-to}}
        {{#link-to 'gliders' tagName='li' href=false}}
          {{#link-to 'gliders' bubbles=false}}
            Gliders
          {{/link-to}}
        {{/link-to}}
        {{#link-to 'airplanes' tagName='li' href=false}}
          {{#link-to 'airplanes' bubbles=false}}
            Airplanes
          {{/link-to}}
        {{/link-to}}
      </ul>
    </div>
  </div>
</nav>