<h2>Airplanes index</h2>

<table class="airplanes">
  <tr class="airplane">asdf</tr>
  {{#each model as |airplane|}}
    <tr class="airplane">
      {{link-to airplane.prettyName 'airplanes.show' airplane}}
    </tr>
  {{/each}}
</table>

<hr>
{{link-to 'Add a new Airplane' 'airplanes.new'}}
