<ul>
  <li>Brand: {{model.brand}}</li>
  <li>Model: {{model.model}}</li>
  <li>Registration: {{model.registration}}</li>
</ul>

{{link-to 'Edit this airplane' 'airplanes.edit' model}}
{{link-to 'Back to Airplanes' 'airplanes'}}
